@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

h1 {
    color: $text-color;
}

nav {
    ul {
        gap: 20px;
        list-style: none;
        text-transform: uppercase;
        margin: 1rem
    }

    img {
        width: 50px;

    }
a {
    text-decoration: none;
    color: rgb(51, 50, 50);
    
}
}

footer {
    background-image: url('../images/footer-bg.jpg');
    color: white;

    .footer-menu {
        gap: 20px;

    }

    h2 {
        text-transform: uppercase;
        margin-top: 50px;
       
    }

    ul {
        list-style: none;
        padding-left: 0px;
       
    }
}

.jumbotron {
    background-image: url('../images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-position: top;
    height: 400px;
}

.active {
    color: rgb(77, 77, 203);
    font-size: large;
    font-weight: 500;
}

.gallery-comics {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 1200px;
    margin: 30px auto;
   div { width: calc(100% / 6 - 15px);

    img {
        
     aspect-ratio: 1/1;
        object-fit: cover;
      width: 100%;
      object-position: top;
        
    }}

    
}